/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color-light: #f6f5f3; /* Background color (Vanilla Grey) */
  --text-color-light: #3d3d3f; /* Text color (Scuffed Dark Grey) */
  --header-bg-light: #7dce94; /* Header background color (Lime Green) */
  --button-bg-light: #7dce94; /* Button background color (Lime Green) */
  --button-hover-light: #3d3d3f; /* Button hover color (Scuffed Dark Grey) */
  --details-bg-light: #f9f8fd; /* Details section background color (White-ish) */
  --chart-bg-light: #7dce94; /* Chart container background color (Lime Green) */
  --circle-color-light: #3d3d3f; /* Circle stroke color (Lime Green) */

  --bg-color-dark: #121212;
  --text-color-dark: #ffffff;
  --header-bg-dark: #2c2c2c;
  --button-bg-dark: #bb2124;
  --button-hover-dark: #9a1b1f;
  --details-bg-dark: #1e1e1e;
  --chart-bg-dark: #262626;
  --circle-color-dark: #00ff00;
}

[data-theme="light"] {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --header-bg: var(--header-bg-light);
  --button-bg: var(--button-bg-light);
  --button-hover: var(--button-hover-light);
  --details-bg: var(--details-bg-light);
  --chart-bg: var(--chart-bg-light);
  --circle-color: var(--details-bg-light);
}

[data-theme="dark"] {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --header-bg: var(--header-bg-dark);
  --button-bg: var(--button-bg-dark);
  --button-hover: var(--button-hover-dark);
  --details-bg: var(--details-bg-dark);
  --chart-bg: var(--chart-bg-dark);
  --circle-color: var(--details-bg-light);
}


.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 50px;
  background-color: var(--header-bg);
  font-size: 25px;
}

#header h1 {
  font-size: 30px;
  color: var(--text-color);
}

#logout {
  font-size: 20px;
  padding: 10px 20px;
  background-color: var(--button-bg);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#details :hover{
  transform: scale(1.05);
}

#logout:hover {
  background-color: var(--button-hover);
}

#progress:hover{
  transform: scale(1.05);
}

#content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}

#details {
  padding: 20px;
  background-color: var(--details-bg);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#details h3 {
  font-size: 28px;
  margin-bottom: 15px;
  color: var(--text-color);
}

#details ul {
  list-style-type: none;
  padding-left: 0;
}

#details li {
  font-size: 22px;
  margin-bottom: 10px;
}

#charts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.chart-container {
  background-color: var(--chart-bg);
  border-radius: 8px;
  padding: 20px;
  min-width: 350px;
  text-align: center;
}

.chart-container h3 {
  font-size: 24px;
  color: var(--text-color);
}

#auditRatio svg circle {
  stroke: var(--circle-color);
}

#make_audit:hover {
  transform: scale(1.05);
}

#auditRatio :hover {
  transform: scale(1.05);
}


@media (max-width: 480px) {
  .App {
    margin-top: 290%;
  }

  #header {
    padding-top: 3rem;
  }

  #header h1 {
    font-size: 15px;
  }

  #logout {
    font-size: 15px;
  }

  #details li {
    font-size: 16px;
  }

  .chart-container {
    width: 100%;
  }
}
